<!--The content below is only a placeholder and can be replaced.-->
<!-- <router-outlet></router-outlet>
<app-home></app-home>
<app-login></app-login> -->
<html>

<head>
    <script src="./index.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <div class="app">
        <div class="step1">
            CloudHealth
        </div>
        <div class="step2">
            <div class="header">COHL_Lake_Report</div>
            <div class="details">
                <div>Friday, August 23, 2019</div>
                <div>Organization: <strong>Capital One Main</strong></div>
                <div>Details CSV file is attached</div>
            </div>
            <div class="actions">
                <div><img src="./sample_image.png" /></div>
                <div><button class="button">View Report</button></div>
            </div>
            <div class="footer">
                You are subscribed to receive <a href="" target="_blank">COHL_Lake_Report</a>. To unsubscribe, <a href="" target="_blank">click here</a>
            </div>
        </div>

    </div>
</body>

</html>